@model Comment

@{
    ViewData["Title"] = "Create";
    var postId = ViewBag.postId;
}




<div class="row">
   
    <div class="col-md-4">
        <a asp-controller="Post" asp-action="Index" class="btn btn-success">Back to Home page</a>
        <br />
        <br />
        <br />
        <form asp-action="Create">

            <input type="hidden" value="@postId" name="PostId" />
            <div class="form-group">
                <label asp-for="CommentPublisherName" class="control-label"></label>
                <input asp-for="CommentPublisherName" class="form-control" />
                <span asp-validation-for="CommentPublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentContent" class="control-label"></label>
                <input asp-for="CommentContent" class="form-control" />
                <span asp-validation-for="CommentContent" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}