@model Post

@{
    ViewData["Title"] = "Edit";
}

<div>
    <a asp-action="Index" class="btn btn btn-success" >Back to Home</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            
            <input type="hidden" asp-for="PostId" />
            <input type="hidden" asp-for="PublisherName" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="comments" />

            <div class="form-group">
                <label asp-for="PostContent" class="control-label"></label>
                <input asp-for="PostContent" class="form-control" />
                <span asp-validation-for="PostContent" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
